<h1>Dashboard</h1>
<div id= "order_count">
  <h2>Total Orders: <%= @orders.count %></h2>
  
    <ul><%= link_to "Pending:", statuses_path(:name => "pending") %> 
        <%= Order.pending.count %></ul>
    <ul><%= link_to "Cancelled:", statuses_path(:name => "cancelled") %> 
        <%= Order.cancelled.count %></ul>
    <ul><%= link_to "Paid:", statuses_path(:name => "paid") %>
        <%= Order.paid.count %></ul>
    <ul><%= link_to "Shipped:", statuses_path(:name => "shipped") %>
        <%= Order.shipped.count %></ul>
    <ul><%= link_to "Returned:", statuses_path(:name => "returned") %> 
        <%= Order.returned.count %></ul>
  

</div>

<h1>All Orders</h1>

<ul id="orders">
  <% @orders.each do |order| %>
  <li><%= link_to order.id, order_path(order) %>
          | Created: <%= order.created_at %> 
          | <%= order.user.full_name %> | 
          <% order.products.each do |t| %>
          <%= t.title %>, 
          <% end %> |
          <%= order.current_status %> |
          Updated: <%= order.updated_at %>

           |
          $<%= order.total_price %> </li>
  <% end %>
</ul>