<h1>Listing category_assignments</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_assignments.each do |category_assignment| %>
  <tr>
    <td><%= category_assignment.product_id %></td>
    <td><%= category_assignment.category_id %></td>
    <td><%= link_to 'Show', category_assignment %></td>
    <td><%= link_to 'Edit', edit_category_assignment_path(category_assignment) %></td>
    <td><%= link_to 'Destroy', category_assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category assignment', new_category_assignment_path %>
