

<!-- this is where we'll want people to either login with email or username -->
<%= form_tag sessions_path, :class=>'well' do %>
  <label>
          <%= "Email or username" %></label>
          <%= text_field_tag :account_name, params[:account_name] %>
  <label>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
  </label>
  <div class="actions"><%= submit_tag "Log In", :class => 'btn' %>
<% end %>