<% content_for :head do %>
<style type="text/css">
form#slimForm { width: auto; float:left; }
label#remember_me { display: inline-block; }
</style>
<% end %>
<%= form_tag sessions_path, :id => "slimForm" do %>
  <% if !alert.nil? %>
    <div class="alert alert-error">
      <p id="error"><%= flash.now[:alert] %></p>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :remember_me, nil, :id => "remember_me" %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>