<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag :remember_me %>
      </div>
      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>

<!--     <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.text_field :email, :placeholder => "Email Address" %>
      <br />
      <%= f.password_field :password, :placeholder => "Password" %>
      <br />

      <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
    <% end %> -->

<!--     <p>New user? <%= link_to "Sign up now!", signup_path %></p> -->
  </div>
</div>