<%= render partial: 'shared/admin_navigation', :locals => { active: :products }  %>

<div class="span8">
  <h1>Products</h1>
  <hr>
  <div class="pull-right">
  <a href="/admin/products/new"><button class="btn btn-large btn-primary" type="button">Create Product</button></a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td>$ <%= product.price %></td>
      <td>
      <% product.categories.each do |category| %>
      <%= category.title %> <br>
      <% end %>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Modify <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit', edit_product_path(product) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Retire', product_path(product), :action => 'abc', :confirm => 'Are you sure?', :method => :put %></li>
            <li><%= link_to 'Destroy', product_path(product), :confirm => 'Are you sure?', :method => :delete %></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>
