<h1>Admin Dashboard</h1>

<h3>Orders by status</h3><br />
<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>Orders</th>
  </tr>
  <tr>
    <td>Pending</td>
    <td><%= orders_by_status('pending') %><tr>
    <td>Cancelled</td>
    <td><%= orders_by_status('cancelled') %><tr>
    <td>Paid</td>
    <td><%= orders_by_status('paid') %><tr>
    <td>Shipped</td>
    <td><%= orders_by_status('shipped') %><tr>

  </tr>
</table>

<h3>Orders Summary<h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Customer Name</th>
    <th>Date</th>
    <!-- <th>Total</th> -->
    <th>Status</th>
  </tr>

<%= render :partial => "admin/orders/admin_order", :collection => @orders %>

</table>