<%= render partial: 'shared/admin_navigation', locals: { active: :dashboard } %>

<div class="span8">
  <h1><%= t 'admin.dashboard' %></h1>
  <hr>

<% if @count > 0 %>
  <%= render partial: 'admin_dashboard_nav', locals: {active_tab: @active_tab,
                                                      count: @count,
                                                      statuses: @statuses} %>
  <br>
  <table class="table">
  <thead>
    <th>#</th>
    <th><%= t 'model.createdat' %></th>
    <th><%= t 'model.status' %></th>
    <th><%= t 'model.modify' %></th>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
  </table>
<% else %>
  <%= t 'order.none' %>
<% end %>

</div>
