<%= render partial: 'shared/admin_navigation', locals: { active: false } %>

<div class="span8">
  <h1>Order #<%= @order.id %></h1>
  <p>Status: <%= @order.status %></p>
  <%= render partial: 'next_status_button', locals: { order: @order } %>
  <hr>
  <p>Created at: <%= @order.created_at.to_s(:short) %></p>
  <p>Updated at: <%= @order.updated_at.to_s(:short) %></p>
  <p>Purchaser name: <%= @order.user.full_name %></p>
  <p>Purchaser email: <%= @order.user.email %></p>
  <h2> Products </h2>
  <table class="table">
  <thead>
    <th>Title</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </thead>
  <tbody>
    <%= render partial: 'order_item', collection: @order.order_items %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: right;">Total</td>
      <td><%= number_to_currency(@order.total) %></td>
    </tr>
  </tfoot>
</table>

</div>
