<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field name">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "input-small" %>
  </div>
  <div class="field name">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "input-small" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>
<% end %>