<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t('account.self') %></li>
    <li class="<%= active == :account_details ? 'active' : '' %>">
      <%= link_to t('details'), account_profile_path %>
    </li>
    <li class="<%= active == :orders ? 'active' : '' %>">
      <%= link_to t('order.history'), account_orders_path %>
    </li>
  </ul>
</div>
