<h1>Account Settings for <%= @user.full_name %></h1>

  <%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :full_name %>
  <%= f.input :email %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit %>
<% end %>

