<title>Edit user</title>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= gravatar_for @user %>
    <%= link_to "change", "http://gravatar.com/emails" %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :display_name %>
    <%= f.text_field :display_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <br />
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>
<br />
<div class="row">
  <div class="span6 offset3">
    <%= render :partial => "shipping_information/form" %>
    <%= render :partial => "billing_information/form" %>
  </div>
</div>