<h1><%= @user.full_name %></h1>

<%= form_for(@user) do |u| %>
  <p>
    <%= u.label :full_name %> <br />
    <%= u.text_field :full_name %>
  </p>

  <p>
    <%= u.label :email %> <br />
    <%= u.text_field :email %>
  </p>

  <p>
    <%= u.label :password %> <br />
    <%= u.password_field :password %>
  </p>

  <p>
    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation %>
  </p>


  <p>
    <%= u.submit %> 
  </p>

  <% end %>