<h1>Sign Up</h1>



<%= form_for(@user) do |p| %>
  <p>
    <%= p.label :full_name %> <br />
    <%= p.text_field :full_name %>
  </p>

   <p>
    <%= p.label :email %> <br />
    <%= p.text_field :email %>
  </p>

  <p>
    <%= p.label :username %> <br />
    <%= p.text_field :username %>
  </p>

  <p>
    <%= p.label :password %> <br />
    <%= p.password_field :password %>
  </p>

  <p>
    <%= p.label :password_confirmation %> <br />
    <%= p.password_field :password_confirmation %>
  </p>

  <p>
    <%= p.submit %> 
  </p>

  <% end %>