<% content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('div#shipping').css("display", "none");
    $('div#billing').css("display", "none");
  });
  $(function(){
    $('a#default_billing').click(function(){
      $('div#billing').css("display", "inline");
    });
  });
  $(function(){
    $('a#cancel_default_billing').click(function(){
      $('div#billing').css("display", "none");
    });
  });
  $(function(){
    $('a#default_shipping').click(function(){
      $('div#shipping').css("display", "inline");
    });
  });
  $(function(){
    $('a#cancel_default_shipping').click(function(){
      $('div#shipping').css("display", "none");
    });
  });
</script>
<% end %>
<div id="intro">
  <h3>Welcome, <%= @user.name %></h3>
  <%= link_to "Edit your profile", edit_user_path %>
</div>

<p><%= @user.default_billing_address.inspect %> </p>
<p><%= @user.default_shipping_address.inspect %> </p>
<div class="default-address">
  <%= link_to "Add a default shipping address", nil, :id => "default_shipping", :remote => true %>
  <div id="shipping">
    <%= render :partial => "default_shipping_address" %>
  </div>
</div>
<div class="default-address">
  <%= link_to "Add a default billing address", nil, :id => "default_billing", :remote => true %>
  <div id="billing">
    <%= render :partial => "default_billing_address" %>
  </div>
</div>

<h2>Order History</h2>
<% if @user.orders.any? %>
  <%= render :partial => "users/orders" %>
<% else %>
  <h3>You haven't ordered anything yet. Why are you a hater?</h3>
<% end %>