<%= render partial: 'user_navigation', :locals => { active: false } %>
<div class="span8">

  <% if @user.display_name.nil? %>
    <h1><%= @user.full_name %>'s Account Details</h1>
  <% else %>
    <h1><%= @user.display_name %>'s Account Details</h1>
  <% end %>

  <p>EMAIL: <%= @user.email %></p>
  <p>NAME:<%= @user.full_name %></p>
  <p>DISPLAY NAME: <%= @user.display_name %> </p>
  
  <hr>

  <h5>Edit Account</h5>

  <%= simple_form_for @user do |f| %>
  <%= f.input :full_name, input_html: { placeholder: 'Name' } %>
  <%= f.input :email, input_html: { placeholder: 'example@gmail.com' } %>
  <%= f.input :display_name, input_html: { placeholder: 'Username' } %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.hidden_field :admin, value: false %>
  <%= f.submit "Update Account" %>
  <% end %>


</div>
