%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Password:
  = @user.password
%p
  %b Email:
  = @user.email
%p
  %b Permission:
  = @user.permission

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
