 <div class="thumbnail" id="<%= product.id %>">
  
  <div class="row-fluid">
      <div class="span6">
        <%= link_to image_tag(product.image_link, :width => '150'), product_path(product) %>
      </div>
      <div class="span6">
        <h3><%= link_to product.title, product_path(product) %></h3>
        <h4><%= number_to_currency(product.price) %></h4>
        <br />
        <%= link_to "Add to Cart", cart_items_path(:product_id => product), 
          :method => :post, :remote => true, :id => "product_#{product.id}",
          :class => "btn btn-small btn-info" %>
          <br />
     <% if admin? %>
     <br />
  
    <%= link_to 'Edit', edit_product_path(product),
    :class => 'btn btn-info btn-mini'  %>
    <%= if product.activity then "Active" else "Retired" end %>
      <% end %>
      </div>
    </div>

  


    
    
</div>

