<tr>
<td>
  <%= link_to product.title, product_path(product) %>
</td>
<% if rating = ratings[product.id] %>
<td>
  <div id="star-rating<%= rating.id %>"></div>
  <script>
    $('#star-rating<%= rating.id %>').raty({ readOnly: true, score: <%= rating.stars %> });
  </script>
</td>
<td>
  <%= rating.created_at.to_s(:short) %>
</td>
<td>
  <% if rating.editable? %>
  <%= button_to t('crud.edit'), edit_product_rating_path(product, rating), method: :get, class: "btn btn-mini inactive" %>
  <% end %>
</td>
<% else %>
<td>
  <%= link_to t('ratings.please'), new_product_rating_path(product) %>
</td>
<td>
</td>
<% end %>
</tr>
