<td><%= order_product_counter + 1 %></td>
<td><%= link_to order_product.title, product_path(order_product.product) %></td>
<td><%= order_product.quantity %></td>
<td><%= order_product.price %></td>
<td><%= order_product.total %></td>
