<h1>Dashboard</h1>

<ul id="orders">
 <% @orders.each do |order| %>
   <li>
    <%= order.status %>
    <%=link_to order.id, order_path(order) %>
    <%= order.user_id %>
    <%= order.created_at %>
    <%= order.updated_at %>
    <% if order.status == "pending" %>
      <%= link_to "cancel order?", edit_order_path(order) %>
    <% elsif order.status == "shipped" %>  
      <%= link_to "mark as returned", edit_order_path(order) %>
    <% elsif order.status == "paid" %>
      <%= link_to "mark as shipped", edit_order_path(order) %> 
    <% end %>
   </li>

 <% end %>
</ul>