<% if can? :manage, @order %>
  <h1>Admin Order Report</h1>
  <br />
  <br />
  <h4>Sort by Status</h4>
  <%= link_to "All Orders: ", admin_report_orders_path %> <%= Order.all.count %>
  <%= link_to "Pending: ", admin_report_orders_path(:filter => "pending") %> <%= Order.count_status("pending") %>
  <%= link_to "Shipped: ", admin_report_orders_path(:filter => "shipped") %> <%= Order.count_status("shipped") %>
  <%= link_to "Paid: ", admin_report_orders_path(:filter => "paid") %> <%= Order.count_status("paid") %>
  <%= link_to "Returned: ", admin_report_orders_path(:filter => "returned") %> <%= Order.count_status("returned") %>
  <%= link_to "Cancelled: ", admin_report_orders_path(:filter => "cancelled") %> <%= Order.count_status("cancelled") %>
<% else %>
  <h1>My Orders</h1>
<% end %>
  <br />
  <br />
<table class="table table-striped">
  <thead>
    <tr>

      <% if can? :manage, :all %>
        <th>ID<% end %></th>
      <th>Billed to</th>
      <th>Shipped to</th>
      <th>Created</th>
      <th>Status</th>
      <th>Total</th>
      <% if can? :manage, :all %>
        <th>Admin Actions
        <% end %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order|%>
      <tr>
        <% if can? :manage, :all %>
        <td><%= link_to order.id, order_path(order) %></td>
        <% end %>
        <td><%= order.user.full_name %></td>
        <td><%= order.name %></td>
        <td><%= distance_of_time_in_words_to_now(order.created_at) %></td>
        <td><%= order.status %></td>
        <td><%= sprintf("$%0.02f", order.total) %></td>
        <td>
          <% if can? :manage, :all %> 
            <% if order.next_status %>
              <%= form_for order do |f| %>
                <%= f.hidden_field :status, :value => order.next_status %>
                <%= f.submit "mark as #{order.next_status}" %>
              <% end %>
            <% end %> 
          <%= link_to 'Edit', edit_order_path(order) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
