%table.table.table-striped
  %tr
    %th Order ID
    %th Purchaser
    %th Amount
    %th Status
    %th Actions
  - @orders.each do |order|
    %tr
      %td
        = link_to order.id, order_path(order)
      %td= link_to order.user.full_name, user_path(order.user)
      %td= order.amount
      %td= order.status
      %td
        / MAKE DIFFERENT TRANSITIONS FOR DIFFERENT ORDER STATUSES
        = link_to 'Transition', order_path(order), :method => :delete,   |
          :confirm => 'Are you sure?', :class => 'btn btn-mini btn-info' |
        -#
        = link_to 'Edit', edit_order_path(order), |
          :class => 'btn btn-mini'                |
        -#
        = link_to 'Destroy', order_path(order), :method => :delete,        |
          :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' |
