<%= render partial: '/users/user_navigation', :locals => { active: :orders } %>

<div class="span8">

  <h1><%= t('order.history') %></h1>
  <hr>
  <form action="<%= user_orders_path(current_user) %>" method="get" class="form-search">
    <input type="text" id="order-search" value="<%= params[:search] %>" name="search" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>

  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th><%= t('model.status') %></th>
      <th><%= t('order.date') %></th>
      <th><%= t('order.actualvalue') %></th>
      <th><%= t('order.savings') %></th>
      <th><%= t('total') %></th>
    </thead>
    <tbody>
      <%= render partial: 'order', collection: @orders %>
    </tbody>
  </table>
</div>
