%h1 Dashboard - Orders
%br
%a= link_to 'Advanced Search', '/search/new' 
%br
%br

.row
  .span8#orders
    %h3 Orders
    %br

    .span1.center= link_to 'all', orders_path
    - @statuses.each do |s|
      .span1.center= link_to s.name, orders_path(:status => s.name)

    %br
    %br

    = render 'orders/list', :orders => @orders

  .span4
    %h3 Orders by Status
    %br
    %table#orders_by_status.table.table-bordered
      %th Status
      %th Count
      - @statuses.each do |status|
        %tr
          %td= status.name
          %td{:id => status.name} 
            = status.orders.count