<h1>Dashboard</h1>

<ul id="orders">
 <% @orders.each do |order| %>
   <li>
    <%= order.status %>
    <%=link_to order.id, order_path(order) %>
    <%= order.user_id %>
    <%= order.created_at %>
    <%= order.updated_at %>
   </li>

 <% end %>
</ul>