%h1 Dashboard - Orders
%br

.row
  .span8#orders
    %h3 Orders
    %br

    .span1.center= link_to 'all', orders_path
    - @statuses.each do |s|
      .span1.center= link_to s.name, orders_path(:status => s.name)

    %br
    %br

    %table.table
      %th ID
      %th User
      %th Products
      %th Status
      - @orders.each do |order|
        %tr
          %td= link_to order.id, order_path(order)
          %td= order.user.name
          %td= order.products.map(&:name).join (', ')
          %td= order.status.name

  .span4
    %h3 Orders by Status
    %br
    %table#orders_by_status.table.table-bordered
      %th Status
      %th Count
      - @statuses.each do |status|
        %tr
          %td= status.name
          %td{:id => status.name} 
            = status.orders.count