<h1>Confirm your order</h1>
  <table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
    <% current_cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.name %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= cart_item.line_price %></td>
      </tr>
    <% end %>
  </table>
<p>Your total: <%= current_cart.total_price %></p>

<%= link_to "Continue shopping", products_path %>

<%= form_tag orders_path do %>
  <% if current_user %>
    <%= hidden_field_tag :email_address, current_user.email %>
  <% else %>
    <%= label_tag :email_address %>
    <%= text_field_tag :email_address %><br/>
  <% end %>
  <%= label_tag :credit_card %><br/>
  <%= text_field_tag :credit_card, current_user.shipping_address %><br/>
  <%= label_tag :billing_address %><br/>
  <%= text_field_tag :billing_address, current_user.billing_address %><br/>
  <%= label_tag :shipping_address %><br/>
  <%= text_field_tag :shipping_address, current_user.shipping_address %><br/>
  <%= submit_tag "Place Order", class: "btn" %>
<% end %>
