<h1>Confirm your order</h1>
  <table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
    <% current_cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.name %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= cart_item.line_price %></td>
      </tr>
    <% end %>
  </table>
<p>Your total: <%= current_cart.total_price %></p>

<%= link_to "Continue shopping", products_path %>

<% if current_user %>

<%= form_tag orders_path do %>
  <%= label_tag :billing_address %><br/>
  <%= text_field_tag :billing_address, current_user.billing_address %><br/>
  <%= label_tag :shipping_address %><br/>
  <%= text_field_tag :shipping_address, current_user.shipping_address %><br/>
  <%= submit_tag "Place Order", class: "btn" %>
<% end %>

<% else %>
<p>You must be <%= link_to "logged in", login_path %> to place an order.</p>
<% end%>
