<h1>Order</h1>

<p>
  <b>Name</b><br>
  <%= @order.name %>
</p>

<p>
  <b>Total</b><br>
  <%= sprintf("$%0.02f", @order.total) %>
</p> 

<p>
  <b>Address</b><br>
  <%= @order.address %>
</p>

<p>
  <b>Email</b><br>
  <%= @order.email %>
</p>

<p>
  <b>Order Date</b><br>
  <%= distance_of_time_in_words_to_now(@order.created_at) %> ago
</p>

<p>
  <b>Status</b><br>
  <%= @order.status %>
    <% if can? :update, @order %> 
      <% if @order.next_status %>
        <%= form_for @order do |f| %>
          <%= f.hidden_field :status, :value => @order.next_status, :class => 'btn' %>
          <%= f.submit "mark as #{@order.next_status}", :class => 'btn' %>
        <% end %>
      <% end %>
    <% end %> 
</p>

<p>
  <b>Pay type</b><br>
  <%= @order.pay_type %>
</p>

<h3>Products Ordered:</h3>
<p> 
  <% @order.line_items.each do |line_item| %>
    <%= link_to line_item.product.title, product_path %> <br />
    Quantity: <%= line_item.quantity%> <br />
    Price: <%= sprintf("$%0.02f", line_item.product.price) %><br />
    Subtotal: <%= sprintf("$%0.02f", line_item.total_price) %><br />
  <% end %>
</p>  



<div class="form-actions">
  <% if can? :update, @order %> 
    <%= link_to 'View All Orders', orders_path, :class => 'btn'  %>
    <%= link_to 'Edit', edit_order_path(@order), :class => 'btn' %>
    <%=link_to "Update Status", edit_order_path, :class => 'btn' %>
  <% end %>
</div>
