<h1>Order: <%= @order.id %> </h1>


<h2>Status: <%= @order.current_status %></h2>
<ul><% @order.order_items.each do |oo| %>
  <li><%= link_to oo.product.title, product_path(oo.product) %> 
      | <%= oo.product.description %> | PRICE: <%= oo.unit_price %> | QUANTITY: <%= oo.quantity %> 
      <!-- <img width=100 height=100 src="<%= oo.product.image_link %>"></img> --> | <h3><%= number_to_currency(oo.price) %></h3></li>
    <% end %>
</ul>

<h2>Shipped to:</h2><%= render @address %>
<h2>Total Price: <%= number_to_currency(@order.total_price) %></h2>
<h3><%= @order.user.email %></h3>
<h3><%= @order.user.full_name %></h3>

<%= link_to "Edit", edit_order_path(@order) %> |

<% if admin? %>
  <%= link_to "Edit", edit_order_path(@order) %>
  <%= link_to "Your Orders", orders_path %> |
  <%= link_to "Dashboard", dashboard_path%>
   
<% else %>
  <%= link_to "Back to Your Orders", orders_path %>
<% end %>
