<h2>Your Order from <%= @order.created_at.strftime("%m/%d/%Y") %>:</h2>
<div class="row-fluid">
  <div class="span8">
    <h3>Products</h3>
    <% @order.order_products.each do |order_product| %>
    <p><%= order_product.title %></p>
    <% end %>

    <%= render :partial => "order_product", :collection => @order.order_products %>
  </div>
  <div class="span4">
    <h3>Status</h3>
      <%= @order.status %>
    <h3>Billing Address</h3>
      <%= @order.billing_address.tag %>
    <h3>Shipping Address</h3>
      <%= @order.shipping_address.tag %>
  </div>
</div>