%h1 Order details
%hr

%table.table.table-bordered
  %tr
    %td.span3 Unique Url ID
    %td= link_to @order.unique_url, track_orders_path(:id => @order.unique_url)
  %tr
    %td.span3 Created
    %td= @order.created_at.to_formatted_s(:long_ordinal)
  %tr
    %td Purchaser Name
    %td= @order.user.name
  %tr
    %td Email
    %td= @order.user.email
  %tr
    %td Products
    %td
      %table.table
        %th Name
        %th Original Price
        %th Price Paid
        %th Quantity
        %th Subtotal
        - @order.order_products.each do |op|
          %tr
            %td= link_to op.product.name, product_path(op.product)
            %td= op.price
            %td= op.sale_price
            %td= op.quantity
            %td= op.total_price_after_sale_in_dollars
  %tr
    %td Total Price
    %td= @order.total_price_after_sale_in_dollars
  %tr
    %td Status
    %td
      = @order.status.name.titlecase
      = render 'orders/status', :order => @order

  - if @order.cancelled_at
    %tr
      %td Cancelled At
      %td= @order.cancelled_at.to_formatted_s(:long_ordinal)

  - if @order.returned_at
    %tr
      %td Returned At
      %td= @order.returned_at.to_formatted_s(:long_ordinal)

  - if @order.shipped_at
    %tr
      %td Shipped At
      %td= @order.shipped_at.to_formatted_s(:long_ordinal)