<div class="span10">
  <h1>Order Up!</h1>

  <%= order.inspect %>
  
  <table class="table">
    <tr>
      <th>Order ID:</th>
      <th>User ID:</th>
      <th>Order Placed:</th>
      <th>Order Edited:</th>
      <th>Order Total</th>
      <th>Order Status</th>
    </tr>
      <td><%= order.id %></td>
      <td>John Doe</td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= order.total_price %></td>
      <td><%= order.status %></td>
    </tr>
  </table>
</div>
<div class="span10">
  <h2>Products</h2>
  <table class="table table-striped" id="items">
    <tr>
      <th>Product</th>
      <th>Item Price</th>
      <th>Quantity</th>
      <th>Item Total</th>
    </tr>
    <% order.order_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_item.product.title, product_path(order_item.product_id) %></td>
        <td><%= order_item.product.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.total_price %></td>
      </tr>
    <% end %>
  </table>
</div>