<h1>Order: <%= @order.id %></h1>
<p>
  Date Ordered: <%= @order.created_at %>
</p> 

<p>
  Customer: <%= @order.user.full_name %>
</p>

<h3>Products Ordered:</h3>
<p> 
  <% @order.order_items.each do |order_item| %>
    <%= link_to order_item.product.title, product_path %> <br />
    Quantity: <%= order_item.quantity%> <br />
    Price: <%= order_item.price %><br />
    Subtotal: <%= order_item.subtotal %><br />
  <% end %>
</p>  

<%=link_to "View all Orders", orders_path, :id => "orders-index", :class => "link" %>
 