 <h1><%= @order.id %></h1>
<p>
 <%= @order.status %>
  <%= @order.user_id %>
 <%= @order.created_at %>
 <%= @order.updated_at %>
</p>
<%= link_to "edit!", edit_order_path(@order)%>

<h2>Order Items</h2>
<p> 
  <% @order.order_items.each do |order_item| %>
    <%= order_item.id %>
    <%= order_item.quantity %>
    <%= order_item.price %>
  <% end %>
</p>  


<%=link_to "Back to All orders", orders_path, :id => "orders-index", :class => "link" %>
 