%p#notice= notice

%p
  %b User:
  = @order.user.name
%p
  %b Product:
  = @order.products.map(&:name).join(", ")
%p
  %b Status:
  = @order.status

= link_to 'Edit', edit_order_path(@order)
|
= link_to 'Back', orders_path
