<h1><%= @order.id %></h1>
<p>
  <%= @order.created_at %>
</p> 
<h2>Products Ordered:</h2>
<p> 
  <% @order.order_items.each do |order_item| %>
    <%= link_to order_item.product.title, product_path %> <br />
    <%= "Quantity: " + order_item.quantity.to_s %> <br />
    <%= "Price: " + order_item.price.to_s %><br />
    <%= "Subtotal: " + (order_item.price * order_item.quantity).to_s %><br />
  <% end %>
</p>  

<%=link_to "View all Orders", orders_path, :id => "orders-index", :class => "link" %>
 