<% if logged_in? && current_user.is_admin? %>
<div id="admin_bar">
<h4 id="add_link">Since you are an admin, you can <%= link_to "Add a category", new_category_path, :class => "add_link" %></h4>
</div>
<% end %>
<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= flash.now[:notice] %></p>
  </div>
<% end %>

<div class="well">
  <h1>Categories</h1>
</div>
<div id="categories">
  <% @categories.each do |category| %>
  <div class="well span5">
    <p class="category" id="category_<%= category.id %>">
      <%= link_to category.name, category_path(category) %>
      <hr>
      <% category.products.each do |product| %>
        <%= link_to(image_tag(product.image_url(:thumb).to_s), product_path(product), :rel => "tooltip", :title => "#{product.title}", :class => "category-product" ) if product.image? %>
      <% end %>
    </p>
  </div>
  <% end %>
</div>