<tr>
  <td><%= product.title %></td>
  <td><%= product.price %></td>
  <td><%= quantity %></td>

  <td><form><input type= 'integer', name='quantity', value =<%= quantity%> ></form></td>

  <td><%= @total += product.price * quantity%></td>
  <td>X</td>
  <td>Update</td>
</tr>
