%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Quantity
    %th Price
    %th Remove
  / - simple_form_for @products do |f|
  - @cart.cart_products.each do |cp|
    %tr{:id => "product_#{cp.product.id}"}
      %td= cp.name
      %td= cp.quantity
      %td= cp.price
      %td= link_to "X", cart_path(:product_id => cp.product.id), :method => :delete, :confirm => "Are you sure?"
  %tr{:id => "total"}
    %th{:colspan => 2} Total
    %td= @cart.total_in_dollars
    %td