<div id="cart">
<% if cart.cart_items.empty? %>
<h3>Your cart is empty. Buy stuff!</h3>
<% else %>
<h3>You have <%= cart.quantity %> items in your cart.</h3>
<% end %>


  <ul>
    <% cart.cart_items.each do |item| %>
      <li><%= item.product.title %> | 
        Individual price: <%= number_to_currency(item.individual_price) %> | 
        Quantity: <%= item.quantity %> 
        | Total Price: <%= number_to_currency(item.price) %>
        | <%= link_to "Edit Quantity", edit_cart_item_path(item) %> 
        | <%= link_to "Remove item", cart_item_path(item), :method => :delete %>
      </li>
    <% end %>
  </ul>

  <h3>Total Price: <%= number_to_currency(cart.total_price) %></h3>
  <div id="checkout" class="button">
    <%= link_to "Checkout", new_order_path %>
  </div>
</div>
