<% cart_products.each do |cart_product| %>
  <tr>
    <td><%= link_to cart_product.name, cart_product.product %> 
      <%= link_to cart_product_path(cart_product.id), :method => :delete do %>
      <i class="icon-trash"></i> Remove from cart
      <% end %>
    </td>
    <td>
      <%= form_for cart_product do |f| %>
        <%= f.text_field :quantity, :value => cart_product.quantity %>
        <%= f.submit "update", :class => "btn btn-large btn-primary", :id => "update_cart_product_#{cart_product.product.id}" %>
      <% end %>
    </td>
    <td><%= cart_product.price %></td>
    <td><%= cart_product.subtotal %></td>
  </tr>
<% end %>