<h1>Your Shopping Cart.</h1>
<table class="table table-striped" id="cart">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  <% cart.cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.title %></td>
      <td id="<%= cart_item.product.id %>_quant"><%= cart_item.quantity %></td>
      <td id="<%= cart_item.product.id %>_total"><%= cart_item.total %></td>
    </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td>Total:</td>
    <td id="total"><%= cart.total %></td>
</table>
<%= link_to "Place Order", orders_path(:cart_id => cart), :method => :post, :class=> "btn" %>
<%= link_to "Destroy Cart", cart_path(cart), :method => :delete, :class => "btn btn-danger" %>