<% if current_cart.empty? %>
  <h5><%= "Your cart is empty. Start shopping!" %></h5>
  <%= link_to "Back to Home", root_path %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        <%= render partial: 'cart_item' %>
      </tbody>
    </table>

    <div id="shopping_cart_summary">
      <h5>Total: <%= number_to_currency(current_cart.total) %></h5>
      <%= render partial: 'checkout_button',
                 locals: { price: current_cart.total } %>
      <%= button_to 'Empty Cart', cart_path, class: 'btn', method: :delete %>
    </div>
<% end %>
