<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart </h2>
<h3>Cart Total: <%= sprintf("$%0.02f", @cart.total_price) %></h3>
<table class="table">
  <% if @cart.line_items.empty? == false %>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% if @cart.line_items.empty? %>
      <h3>Your cart currently has no items.</h3>
    <% end %>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td class="photo"><%= image_tag(line_item.product.photo) %></td>
          <td class="description">
            <%= link_to line_item.product.title, product_path(line_item.product) %></td>
        <td><%= sprintf("$%0.02f", line_item.product.price) %></td>

        <td> <%= form_for line_item do |f| %>
                <%= f.number_field :quantity, :value => line_item.quantity, :size =>100, :min => 1 %>
                <%= f.submit "update quantity" %> 
                <% end %></td>
                
        <td><%= sprintf("$%0.02f", line_item.subtotal) %></td>
        <td><%= link_to 'Remove From Cart', line_item, method: :delete, confirm: "Are you sure?", :class => 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Empty Cart', @cart, method: :delete, confirm: "Are you sure?", :class => 'btn' %>
<% if can? :create, Order %>
  <%= link_to 'Checkout', new_order_path, method: :get, :class => 'btn' %>
  
  <% if current_user.orders != [] %>
     <%= form_for @order do |f| %>
        <%= f.hidden_field :email, :value => current_user.orders.last.email %>
        <%= f.hidden_field :name, :value => current_user.orders.last.name %>
        <%= f.hidden_field :address, :value => current_user.orders.last.address %>
        <%= f.hidden_field :pay_type, :value => current_user.orders.last.pay_type %>
        <br />
        <%= f.submit "One-Click Checkout", method: :post, :class => 'btn btn-primary' %>
      <% end %>
  <% end %>  

<% else %>
    <%= link_to 'Create an Account to Checkout', new_user_path(cart_id: current_cart.id), method: :get, :class => 'btn' %>
  <% end %>
