<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Motha Fucking Exotic Fruit Cart</h2>
<h3>Cart Total: <%= sprintf("$%0.02f", @cart.total_price) %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% if @cart.line_items.empty? %>
      <h1>Theres nothing in the cart</h1>
    <% end %>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= image_tag(line_item.product.photo) %></td>
        <td><%= link_to line_item.product.title, product_path(line_item.product) %></td>
        <td><%= line_item.product.description %></td>
        <td><%= sprintf("$%0.02f", line_item.product.price) %></td>
        <td><%= line_item.quantity %> 
        <td><%= sprintf("$%0.02f", line_item.subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Empty Cart', @cart, method: :delete, confirm: "Are you sure?", :class => 'btn' %>
<% if can? :create, Order %>
  <%= link_to 'Checkout', new_order_path, method: :get, :class => 'btn' %>
<% else %>
    <%= link_to 'Create an Account to Checkout', new_user_path(cart_id: current_cart.id), method: :get, :class => 'btn' %>
  <% end %>
