%h1 Your Cart
%br
.row
  .span9
    %table.table.table-bordered
      %tr
        %th name
        %th quantity
        %th price
      / - simple_form_for @products do |f|
      - @cart.cart_products.each do |cp|
        %tr{:id => "product_#{cp.product.id}"}
          %td= cp.name
          %td= cp.quantity
          %td= cp.price
          %td= link_to "Remove Item", cart_path(:product_id => cp.id), :method => :delete, :confirm => "Are you sure?"
      %tr{:id => "total"}
        %td.bold Total
        %td
        %td.bold= @cart.total_in_dollars
        %td