<h2>Your Cart </h2>
<h3>Cart Total: <%= sprintf("$%0.02f", @cart.total_price) %></h3>
<table class="table">
  <% if @cart.line_items.empty? == false %>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% if @cart.line_items.empty? %>
      <h3>Your cart currently has no items.</h3>
    <% end %>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td class="photo"><%= image_tag(line_item.product.photo) %></td>
          <td class="description">
            <%= link_to line_item.product.title, product_path(line_item.product) %></td>
        <td><%= sprintf("$%0.02f", line_item.product.price) %></td>

        <td> <%= form_for line_item do |f| %>
                <%= f.number_field :quantity, :value => line_item.quantity, :size =>100, :min => 1 %>
                <%= f.submit "update quantity", :class => 'btn' %> 
                <% end %></td>
                
        <td><%= sprintf("$%0.02f", line_item.subtotal) %></td>
        <td><%= link_to 'Remove From Cart', line_item, method: :delete, confirm: "Are you sure?", :class => 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Empty Cart', @cart, method: :delete, confirm: "Are you sure?", :class => 'btn' %>
<% if can? :create, Order %>
  <%= link_to 'Checkout', new_order_path, method: :get, :class => 'btn' %>
<% else %>
    <%= link_to 'Login to Checkout', new_session_path, method: :get, :class => 'btn' %>
    <%= link_to 'Need an Account?', new_user_path(cart_id: current_cart.id), method: :get, :class => 'btn' %>
  <% end %>
