<%= form_for(@order) do |f| %>

<% if @order.errors.any? %>
<div>
  <h2><%= pluralize(@order.errors.count, "error") %>
    prohibited this order from being saved</h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%=f.label "Ship to " + :name.to_s %>
    <br />
    <%=f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%=f.label "Billing " + :address.to_s %>
    <br />
    <%=f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%=f.label :shipping_address.upcase.to_s + " (Optional)" %>
    <br />
    <%=f.text_area :shipping_address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%=f.label "Confirmation " + :email.to_s %>
    <br />
    <%=f.email_field :email, size: 40 %>
  </div>
  <div class="field">
    <%=f.label "Credit Card Number" %>
    <br />
    <%=f.text_field :cc_number, size: 40 %>
  </div>
  <div class="field">
    <%=f.label "Credit Card Expiry" %>
    <br />
    <%=f.text_field :cc_expiry, size: 40 %>
  </div>
  
  <div class="actions">
    <%= f.submit "Place Order" %>
  </div>
<% end %>
