<h1>Edit Order</h1>
<span class="badge badge-info" style="float:right; margin-bottom:2px;">Status: <%= order.status %></span>

<%= render :partial => "order_info" %>

<%= render :partial => "edit_form" %>

<table class="table">
  <tr>
    <th>Product Name:</th>
    <th>Quantity:</th>
    <th>Remove Item:</th>
    <th>Line Item Price:</th>
    <th>Total Price:</th>
  <% order.order_items.each do |order_item| %>
  </tr>
    <td><%= order_item.product.title %></td>
    <td><%= form_for(order_item, url: admin_order_items_path(order_item)) do |f| %>
          <%= f.hidden_field :id, :value => order_item.id %>
          <%= f.number_field :quantity, :min => 1, :id => "quantity" %>
          <%= f.submit "Update quantity" %>
        <% end %></td>
    <td><%= link_to "Remove Item", admin_order_items_path(order_item, :id => order_item.id), :method => :delete %></td>
    <td><%= order_item.product.price %></td>
    <td><%= order_item.total %></td>
  </tr>
  <% end %>
</table>


<%= link_to "Back to All Orders", admin_orders_path, :class => "btn", :id => "back_to_orders"%>