<h3>Shipping Information</h3>

<%= form_for(@shipping_information) do |f| %>
  
  <% if @shipping_information.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@shipping_information.errors.count, "error") %>.
      </div>
      <ul>
      <% @shipping_information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.label :shipping_address_line_1 %>
  <%= f.text_field :shipping_address_line_1 %><br />

  <%= f.label :shipping_addres_line_2 %>
  <%= f.text_field :shipping_address_line_2 %><br />

  <%= f.label :shipping_address_city %>
  <%= f.text_field :shipping_address_city %><br />

  <%= f.label :shipping_address_state %>
  <%= f.select :shipping_address_state, state_list.collect { |s| s }, {}, :multiple=>false, :id=>"state"%><br />

  <%= f.label :shipping_address_zipcode %>
  <%= f.text_field :shipping_address_zipcode %><br /><br />

  <%= f.submit "Ship to this address" %>
  
<% end %>