<tr id="order_product_<%= order_product.id %>" class="order-product">
  <td><%= order_product_counter + 1 %></td>
  <td><%= link_to order_product.title, product_path(order_product.product) %></td>
  <td>
    <% if order_product.order.status == "pending" %>
    <%= form_for order_product, :url => order_product_path(order_product),:method => :put do |f| %>
      <%= f.select :quantity, (1..30), :selected => order_product.quantity %>
    <% end %>
    <% else %>
      <%= order_product.quantity %>
    <% end %>
  </td>
  <td><%= number_to_currency(order_product.price) %></td>
  <td><%= number_to_currency(order_product.total) %></td>
</tr>