<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= address.city %>
</p>

<p>
  <b>State:</b>
  <%= address.state %>
</p>

<p>
  <b>Street 1:</b>
  <%= address.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%= address.street_2 %>
</p>

<p>
  <b>Zip code:</b>
  <%= address.zip_code %>
</p>

<p>
  <b>User:</b>
  <%= address.user_id %>
</p>



