<h1>Category: <%= category.name %></h1>

<p>This will be a list of all products with the category "<%= category.name %>"</p>
<ul>
  <% category.products.each do |p| %>
    <li><%= p.title %></li>
   <% end %>
 </ul>
</p>
<p><%= link_to "Edit this Category", edit_admin_category_path(category), :title =>"edit this category", :class => "btn btn-warning" %>
  <%= link_to "Destroy this Category", admin_category_path(category), :method => :delete, :confirm => "Delete \"#{category.name}\"?", :name => "delete this categeory", :class => 'btn btn-danger', :id => 'destroy' %>

<p><%= link_to "All Categories", admin_categories_path, :title => "back to all categories" %>