<div class="row">
  <div class="span10 well">
    <div class="span10">
      <%= form_for(product, url: admin_product_path(product)) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, :class => "span6" %>
        <!-- <span class="help-inline">* Your product title must be unique.</span><br /> -->
   
      <%= f.label :description %>
      <%= f.text_area :description, :class => "span9" %><br />
   
      <%= f.label :price %>
      <%= f.text_field :price, :class => "span4" %><br />

      <%= f.label :photo %>
      <%= f.text_field :photo, :class => "span5" %><br />

      <%= f.label "Click here to retire this product:", :class => "span4 retired_check" %>
      <%= f.check_box :retired %><br />

      <%= f.label :categories %>
        <%= f.select :category_ids, Category.all.collect {|c| [ c.name, c.id ] }, {}, :multiple=>true, :class=> "span5" %>

      <%= f.submit :class => "btn btn-success span4 offset8" %>
    </div>
      
    <% end %>
  </div>
</div>