<tr id="product_<%= product.id %>">
  <td id="product_<%=product.id%>_add"><%= link_to product.title, admin_product_path(product) %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td id="product_<%=product.id%>_categories">
    <% product.categories.each do |c| %>
      <%= c.name %>
    <% end %>
  </td>
</tr>