<div id="retired_products">
<h2>Retired Products</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Options</th>
      </tr>
    </thead>
  <% @retired.each do |product| %>
    <tr class="product" id="product_<%= product.id %>">
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.price %></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= link_to "Activate", product_activations_path(product), :method => :post %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>