<%= render partial: 'shared/admin_navigation', :locals => { active: :products }  %>

<div class="span8">
  <h1>Products</h1>
  <hr>
  <div class="pull-right">
  <%= button_to 'Create Product', new_admin_product_path, method: :get, class: 'btn btn-large btn-primary' %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Categories</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td>$ <%= product.price %></td>
      <td>
      <% product.categories.each do |category| %>
      <%= category.title %> <br>
      <% end %>
      </td>
      <td>
        <% if product.status == 'active' %>
        <span class="label label-success">Active</span>
        <% elsif product.status == 'retired' %>
        <span class="label">Retired</span>
        <% end %>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Modify <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Edit', edit_admin_product_path(product) %>
            </li>
            <li class="divider"></li>
                    <% if product.status == 'active' %>
            <li>
              <%= link_to 'Retire', retire_admin_product_path(product), :confirm => 'Are you sure?', :method => :post %>
            </li>
        <% elsif product.status == 'retired' %>
            <li>
              <%= link_to 'Activate', activate_admin_product_path(product), :confirm => 'Are you sure?', :method => :post %>
            </li>
        <% end %>
            <li>
              <%= link_to 'Delete', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>
