<div class="admin-product-index">
  <%= render partial: 'shared/admin_navigation', :locals => { active: :products }  %>

  <div class="span8">
    <h1><%= t 'product.collection' %></h1>
    <hr>

    <div class="pull-right">
      <%= button_to t('product.create'), new_admin_product_path, method: :get, class: 'btn btn-large btn-primary' %>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t 'product.title' %></th>
        <th><%= t 'product.price' %></th>
        <th><%= t 'categories.self' %></th>
        <th><%= t 'model.status' %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%= render @products %>
      </tbody>
    </table>

  </div>
</div>
