
<h1><%= @category.name %> Products</h1>
<br/>
<br/>
<br/>

<table class="table">
  
  <tbody>
    <% if @category.products.length == 0 %>
    <h2>No products available in this category at this time</h2>
    <% end %>
    <% @category.products.each do |product|%>
      <% if product.retired == false || (can? :create, @product) %>
        
        <tr>
          <td class="photo"><%= image_tag(product.photo) %></td>
          <td class="description">
            <%= link_to product.title, product_path(product) %>
            <p>
              <% if product.description.split(" ").count >40 %>
                <%= product.description.split(" ")[0..40].join(" ") %>...
              <% else %>
                <%= product.description %>
              <% end %>
              <br />
              <%= sprintf("$%0.02f", product.price) %>
            </p>
            
            <p>
              <% if product.retired == false %>
               <%= link_to 'Add to Cart', 
                   line_items_path(product_id: product), 
                   :method => :post, 
                   :class => 'btn btn-mini'%>
              <% end %>
              <% if can? :update, product %>
                <%= link_to 'Edit Product', 
                edit_product_path(product), 
                :class => 'btn btn-mini' %>
              <% end %>
              <% if can? :create, product %>
                <% if product.retired %>
                  <%= form_for product do |f| %>
                    <%= f.hidden_field :retired,
                                       :value => product.retired_switch %>
                    <%= f.submit "Unretire", :class => 'btn btn-mini' %>
                  <% end %>
                <% else %>
                  <%= form_for product do |f| %>
                    <%= f.hidden_field :retired,
                                       :value => product.retired_switch %>
                    <%= f.submit "Retire", :class => 'btn btn-mini' %>
                  <% end %>
                <% end %> 
              <% end %>
            </p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
