<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price, "Price" %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :photo, "Link to a photo of this product:" %><br />
    <%= f.text_field :photo %>
  </div>

  <div class="field"><br />
  <%= f.label :categories %>
  <p> Product is currently assigned to the following categories. Uncheck any of the boxes to remove the category.</p>
  <%= hidden_field_tag "categories[]" %>
  <% @categories.each do |category| %>
    <%= check_box_tag "categories[]", category.id, @product.category_ids.include?(category.id) %>
    <%= category.name %>
  <% end %>
  </div>

<!--   <div class="field"><br />
  <%= f.label :retire %>
  <%= hidden_field_tag "product[retire]" %>
  <%= check_box_tag "product[retire]" %>
    <%= "Retire?" %>
  </div> -->

  <div class="actions"><br />
    <%= f.submit %>
  </div>
<% end %>
