<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> /Product</legend>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :photo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= hidden_field_tag "product[category_ids][]", nil %>
    <% Category.all.each do |category| %>
      <%= check_box_tag "product[category_ids][]", category.id, @product.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %><br>
    <% end %>
  </div>

  <!-- <div class="control-group">
    <%= f.label "Add a Category", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :categories, :class => 'text_field' %>
    </div>
  </div> -->


  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', products_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
