<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Product</legend>

    <div class="control-group">
      <% categories_array = Category.all.map { |category| [category.name, category.id] } %>
      <%= f.label :category_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :category_ids, options_for_select(categories_array), { :size => 5, :selected => 0 }, { :multiple => true }%>
        <%= link_to 'Create New Category', new_category_path, :class => 'btn btn-primary' %>
      </div>
    </div>
    



    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :photo, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :photo, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :upc, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :upc, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :retired, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :retired, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', products_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
