<div class="span10 mobile-index" id="product_<%= mobile_product.id %>">
  <div class="well mobile-product">
    <div class="product_title">
      <%= link_to product_path(mobile_product) do %>
        <h4><%= mobile_product.title %></h4>
    </div>
    <div class="mobile-img">
        <%= link_to image_tag(mobile_product.image_url(:mobile).to_s), product_path(mobile_product) if mobile_product.image? %>
    </div>
    <div class="mobile-info">
      <p class="mobile-product-price"><%= truncate(mobile_product.description, :length => 22) %></p>  
      <p class="mobile-product-price"><%= number_to_currency(mobile_product.price) %></p>
      <% end %>
    </div>
  </div>
</div>
