<tr id="product_<%= product.id %>">
  <td id="product_<%=product.id%>_add"><%= link_to product.title, product_path(product) %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td id="product_<%=product.id%>_categories"><% product.categories.each do |c| %>
                  <%= c.name %>
                <% end %></td>
  <td><%= link_to "Add to Cart", cart_items_path(:product_id => product), :method => :post, :class => 'btn btn-success' %></td>
</tr>