 <li><%= link_to product.title, product_path(product) %> 
      | <%= product.description %> <img height=100 src="<%= product.image_link %>"></img>
       | <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
       | <%= if product.activity then "Active" else "Retired" end %>
    </li>
