<li class="span4">
  <div class="thumbnail">
    <%= image_tag(product.photo, :size => "280x280", :class => "thumbnail") %>
    <div class="caption">
    <p>
        <%= link_to product.name, product %> 
        <h4>Price: <%= product.price %></h4>
    </p>
    <h5>Description</h5>
    <p><%= product.description %></p>
    <p>
      <h6>Categories:<h6><br />
        <% product.categories.each do |category| %>
          <span class="label"><%= link_to category.name, category_path(category) %></span>
        <% end %>
    </p>
    <p>
      <%= button_to 'Add to cart', new_cart_product_path(:product_id => product.id), :class => "btn btn-primary", :disabled => product.retired?, :action => :new, :method => :get %>
    </p>
    </div>
  </div>
</li>

