- if @product.product_ratings.empty?
  %h2 Be the first to comment!
- if @product.product_ratings.nil?
  %h2 Ratings
- @product.product_ratings.each do |rating|
  %b= rating.name
  %p= rating.body
  - rating.rating.times do 
    = image_tag "star-on.png"
  %p 
    By
    = rating.user.name
    - if ((rating.user == current_user) && (rating.created_at > Time.now - 15.minutes))
      = link_to "Edit", edit_product_product_rating_path(@product, rating)
- if @can_rate
  = simple_form_for [@product, @product.product_ratings.build] do |f|
    %legend New Comment
    = f.input :name
    = f.input :body, :as => "string"
    = f.input :rating, :collection => 1..5, :as => :radio_buttons, :class => "star"
    = f.submit :class => "btn btn-primary controls"