<h2>Edit <%=@product.title %></h2>

<%= form_for(@product) do |p| %>
  <p>
    <%= p.label :title %> <br />
    <%= p.text_field :title %>
  </p>

   <p>
    <%= p.label :description %> <br />
    <%= p.text_area :description %>
  </p>

  <p>
    <%= p.label :price %> <br />
    <%= p.text_field :price %>
  </p>

  <p>
    <%= p.label :image_link %> <br />
    <%= p.text_field :image_link %>
  </p>

  <p>
    Product Status: <%= select('product', 'activity', %w(true false)) %>
  </p>

  <p>
    <% for category in Category.find(:all) %>
      <div>
       <%= check_box_tag "product[category_ids][]", 
                          category.id, 
                          @product.categories.include?(category) %>
       <%= category.title %>
      </div>
    <% end %>
  </p>
  <p><%= link_to 'New Category', new_category_path %></p>

  <p>
    <%= p.submit %> 
  </p>

  <% end %>
  