<h1>All Products</h1>

<table class="table">

  <tbody>

    <% if can? :create, @product %>
      <h3> Admin Actions</h3>
        <%= link_to 'Create New Product', new_product_path, :class => 'btn btn-primary' %>
        <%= link_to 'Create New Category', new_category_path, :class => 'btn btn-primary' %>
        <%= link_to 'View all categories', categories_path, :class => 'btn btn-primary' %>
    <% end %>
    
    <% @products.each do |product|%>
      <% if product.retired == false || (can? :create, @product) %>
        
        <tr>
          <td class="photo"><%= image_tag(product.photo) %></td>
          <td class="description">
            <%= link_to product.title, product_path(product) %>
            <p>
              <%= product.description %>
              <br />
              <%= sprintf("$%0.02f", product.price) %>
            </p>
            
            <p>
              <% if product.retired == false %>
               <%= link_to 'Add to Cart', 
                   line_items_path(product_id: product), 
                   :method => :post, 
                   :class => 'btn btn-mini'%>
              <% end %>
              <% if can? :update, product %>
                <%= link_to 'Edit Product', 
                edit_product_path(product), 
                :class => 'btn btn-mini' %>
              <% end %>
              <br />
              <% if can? :create, @product %>
                  <%="Retired? " + product.retired?.to_s %>
                  <%= form_for product do |f| %>
                    <%= f.hidden_field :retired, 
                                       :value => product.retired_switch %>
                    <%= f.submit "mark as #{product.retired_switch}", 
                                 :class => 'btn btn-mini' %>
                  <% end %>  
              <% end %>
            </p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


