<%if notice %>
  <p id="notice"> <%= notice %>
<% end %>

<h1>Exotic Fruit 4U</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.photo) %></td>
        <td><%= link_to product.title, product_path(product) %></td>
        <td><%= product.category.name %></td>
        <td><%= product.description %></td>
        <td><%= sprintf("$%0.02f", product.price) %></td>
        <td>
          <%= link_to 'Add to Cart', line_items_path(product_id: product), :method => :post, :class => 'btn btn-mini'%>
          <% if can? :update, product %>
          <%= link_to 'Edit Product', edit_product_path(product), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, @product %>
<%= link_to 'Create New Product', new_product_path, :class => 'btn btn-primary' %>
<% end %>