<% if logged_in? %>
    <h1><%= "#{t 'home.welcome'}, #{current_user.full_name}" %>!</h1>
<% end %>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('categories.select') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('categories.showall'), root_path %></li>
    <% if @categories.present? %>
      <% @categories.each do |category| %>
      <li><%=link_to category.title, products_path(category_id: category.id) %></li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <form action="<%= products_path %>" method="get" class="form-search">
    <input type="text" id="product-search" value="<%= params[:search] %>" name="search" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>
</section>

<hr>

<%= render @products %>
