<div class="row">
    <div class="prod_detail_img span6">
      <p><%= image_tag @product.image.url(:medium) %></p>
    </div>
    <div class="prod_detail_text span6">
      <h2><% t('product.title') %><%= @product.title %></h2>
      <p><% t('product.description') %><%= @product.description %></p>
      <p><%= t('categories.self') %>:</p>
      <% @product.categories.each do |category| %>
          <p><%= category.title %></p>
      <% end %>
      <br>
      <p><%= t('product.price') %>: <%= number_to_currency(@product.price) %></p>
      <br>
      <%= render partial: 'add_to_cart_button', locals: {product: @product} %>
      <%= render partial: 'buy_now_button', locals: {product: @product} %>
    </div>
</div>