<% content_for :head do %>
<script type="text/javascript">
  $(function(){
    $("#anim").click(function(){
      $("#test").effect("transfer", { to: "#cart", className: "cart-drop" }, 800, function(){
        $("#cart").effect("highlight", {}, 1000);
        //("pulsate", { times:3 }, 2000);
      });
    });
  });
  </script>
<% end %>

<% if @product.retired %>
  <div id="admin_bar">
    <h4>This product was retired at <%= @product.retired_at %></h4>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= flash.now[:notice] %></p>
  </div>
<% end %>

<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %></p>
<p id="test"></p>
<p><%= image_tag @product.image_url(:normal).to_s, :id => "product_image" if @product.image? %></p>


<h4> Options </h4>
<ul id="options">
  <% if logged_in? && current_user.is_admin? %>
    <li><%= link_to "Edit Product", edit_product_path %></li>
    <li><%= link_to "Delete Product", product_path, :method => :delete, :confirm => "Are you sure?" %></li>
  <% end %>
  <li><%= link_to "All Products", products_path %></li>
</ul>

<% if @product.categories.any? %>
<h4>Categories</h4>
<ul id="categories">
  <% @product.categories.each do |category| %>
    <li id="category_<%=category.id%>"><%= link_to category.name, category_path(category) %>
  <% end %>
</ul>
<% end %>
<%= link_to "add to cart", cart_products_path(:product_id => @product), :id => "anim", :method => :post, :remote => true unless @product.retired %>
<%= link_to "Instant Checkout", instant_orders_path(:product_id => @product), :method => :post, :confirm => "Really order #{@product.title}?" %>