Title: <%= @product.title %>
<br>
<p><%= image_tag @product.image.url(:medium) %></p>
<br>
Description: <%= @product.description %>
<br>
Categories:
<br>
<% @product.categories.each do |category| %>
<%= category.title %><br>
<% end %>
<br>
Price: <%= @product.price %>
