.row
  .span3
    %img{:src => @product.avatar}
  .span6
    %h2= @product.name
    %h4= @product.categories.map(&:name).join(', ') 
    %h4= @product.price
    %br
    %p= @product.description
    %br
    %p= link_to "Add To Cart", cart_path(:product_id => @product.id), :method => :put, :class => 'btn btn-info'
    - if current_user && current_user.admin
      %br
      .well
        %a= link_to 'Edit item', edit_product_path(@product), :class => 'btn'
        %a= link_to "Delete item", product_path(@product), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'
    %br
    = render :partial => "ratings"