 <h1><%= @product.title %></h1>
<p>
 <%= @product.description %>
</p>

<%= link_to "edit!", edit_product_path(@product)%>

<%=link_to "destroy!", product_path(@product),
 :method => :delete,
 :confirm => "Delete \"#{@product.title}\"?" %>

<%=link_to "Back to All Products", products_path, :id => "products-index", :class => "link" %>
 