<% content_for :head do %>
<script type="text/javascript">
  $(function(){
    $("#anim").click(function(){
      $("#test").effect("transfer", { to: "#cart", className: "cart-drop" }, 800, function(){
        $("#cart").effect("highlight", {}, 1000);
        //("pulsate", { times:3 }, 2000);
      });
    });
  });
  </script>
<% end %>

<% if logged_in? && current_user.is_admin? %>
<div id="admin_bar">
<%= link_to "Edit Product", edit_product_path, :class => "add_link" %>
<%= link_to "Delete Product", product_path, :class => "add_link", :method => :delete, :confirm => "Are you sure?" %>
<%= link_to "Put on sale", new_sale_path(:product_id => @product.id), :class => "add_link" %>
</div>
<% end %>

<% if @product.retired %>
  <div id="admin_bar">
    <h4>This product was retired at <%= @product.retired_at %></h4>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= flash.now[:notice] %></p>
  </div>
<% end %>

<div class="span7">
  <div class="well border title">
    <h1><%= @product.title %></h1>
    <hr>
    <p id="description"><%= @product.description %></p>
  </div>
  <div>
    <%= link_to "All Products", products_path, :class => "option_link" %>
  </div>
</div>

<div class="span3 well border">
  <p id="image"><%= image_tag @product.image_url(:normal).to_s, :id => "product_image" if @product.image? %></p>
  <% if @product.on_sale? %>
    <p><strike><%= number_to_currency(@product.price) %></strike></p>
    <p id="sale_price"> <%= number_to_currency(@product.best_price) %> </p>
  <% else %>
  <p><%= number_to_currency(@product.price) %></p>
  <% end %>
  <% if @product.categories.any? %>
  <h4>Categories</h4>
  <ul id="categories">
    <% @product.categories.each do |category| %>
      <li id="category_<%=category.id%>"><%= link_to category.name, category_path(category) %>
    <% end %>
  </ul>
  <% end %>

  <% unless @product.retired %>
  <%= link_to cart_products_path(:product_id => @product), :id => "anim", :class => "btn", :method => :post do %><i class="icon-shopping-cart"></i>add to cart<% end %>
  <% end %>
  <% if logged_in? %><%= link_to instant_orders_path(:product_id => @product), :class => "btn btn-info", :method => :post, :confirm => "Really order #{@product.title}?" do %>Instant Checkout<% end %>
  <% end %>

</div>
