<% if @product.retired == false || (can? :create, @product) %>

    <h3>
    <% @product.category_assignments.each do |ca| %>
        <%= link_to ca.category.name, category_path(ca.category) %>
        <% end %>
  </h3>

  <h1><%= @product.title %></h1>

  <p class="product_detail">
    <%= image_tag(@product.photo) %>
    <%= @product.description %>
  </p>

  <p>
    <b>Price</b><br>
    <%= sprintf("$%0.02f", @product.price) %>
  </p>

  <p>

    
  </p>

  <p>
    <% if can? :update, @product %>
    <b>Retired</b><br>
    <%= @product.retired %>
    <% end %>
  </p>

  <div class="form-actions">
    <% if @product.retired == false %>
    <%= link_to 'Add to Cart', line_items_path(product_id: @product), :method => :post, :class => 'btn'%>
    <% end %>
    <%= link_to 'View all Products', products_path, :class => 'btn'  %>
    <% if can? :update, @product %>
      <%= link_to 'Edit Product', edit_product_path(@product), :class => 'btn' %>
    <% end %>

  </div>
<% else %>
<h1>This Product is no longer offered for sale</h1>
<% end %>
