%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price

- if @product.avatar.inspect
  %p
    %b Photo:
    = image_tag @product.avatar.url(:thumb)

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
