<h2> Title: <%= @product.title %> </h2>
<br>
<h4>Categories:
  <% @product.categories.each do |category| %>
  <%= category.title %><br>
  <% end %>
</h4>
<br>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<br>
<%= button_to "Add To Cart", cart_path(product_id: @product.id), method: :put, class: 'btn'  %>
