.row
  .span3
    %img{:src => @product.avatar}
  .span9
    %h2= @product.name
    %h4= @product.categories.map(&:name).join(', ') 
    %h4= @product.price
    %br
    %p= @product.description
    %p= link_to "Add Item", "/cart/#{@product.id}"
    %P= link_to "Delete item", product_path, :method => :delete, :confirm => "Are you sure?"