<%= render :partial => "carts/cart", :object => @cart %>

<h1><%= @product.title %></h1>
<p><img height="100" src="<%= @product.image_link %>"></img>
<p><%= @product.description %></p>

<% if admin? %>
  <%= link_to "Edit", edit_product_path(@product) %> |
<% end %> 
<%= link_to "Add to Cart", cart_items_path(:product_id => @product), :method => :post %> | 
<%= link_to "Back to All Products", products_path %>
