<h1>Add a Shipping Address</h1>

<%= form_for @shipping_detail, :url => shipping_details_path(:last_page => session[:last_page]) do |f| %>

<div class="field">
  <%= label_tag :ship_to_name, "Name" %>
  <%= f.text_field :ship_to_name %>
</div>
<div class="field">
  <%= label_tag :ship_to_address_1, "Address" %>
  <%= f.text_field :ship_to_address_1 %>
  <br />
  <%= f.text_field :ship_to_address_2 %>
</div>
<div class="field">
  <%= label_tag :ship_to_city, "City" %>
  <%= f.text_field :ship_to_city %>
</div>
<div class="field">
  <%= label_tag :ship_to_state, "State" %>
  <%= f.select :ship_to_state, options_for_select(us_states) %>
</div>
<div class="field">
  <%= label_tag :ship_to_zip, "Zipcode" %>
  <%= f.text_field :ship_to_zip %>
</div>

<div class="actions"><br />
  <%= f.submit %>
</div>
<% end %>