<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "mittenberry", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Products", products_path %></li>
          <li id="cart-menu">
            <%= link_to cart_path do %>
            <i class='icon-shopping-cart icon-white'></i>&nbsp;&nbsp;<%= "Cart (#{get_cart_count})" %>
            <% end %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to current_user do %>
              <i class='icon-user icon-white'></i>&nbsp;&nbsp;<%= "#{current_user.name}" %>
              <% end %>
            </li>
        </li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>

<!--
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          -->
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <li><%= link_to "Register", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>