<ul class="nav">
<!-- <li><%#= link_to "Products", products_path %></li> -->
<li><%= link_to "Dashboard", admin_dashboard_path if current_user.is_admin? %></li>
  <li><%= link_to "Categories", categories_path %></li>
</ul>
<form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search our products">
</form>
<ul class="nav pull-right">
  <li><a href="/cart"><i class="icon-shopping-cart icon-white"></i> Cart</a></li>
  <li class="divider-vertical"></li>
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user icon-white"></i><b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-header"><%= current_user.name %></li>
        <li><%= link_to "My Orders", user_path(current_user) %></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    </li>
  </ul>
</ul>