= render :partial => 'layouts/head'
%body
  = render :partial => 'layouts/nav'
  #content
    #content-padding
      - if flash[:notice]
        .alert.alert-info= flash[:notice]
      .row
        = yield
  = render :partial => 'layouts/footer'