= render :partial => 'layouts/head'
%body
  = render :partial => 'layouts/nav'
  #content
    #content-padding
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:error]
        .alert.alert-error= flash[:error]
      = yield
  = render :partial => 'layouts/footer'