!!!
%html
  %head
    %title Bootstrap, from Twitter
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/nav'

    %div#main_container.container
      - if flash[:notice]
        .alert.alert-error= flash[:notice]
      = yield
