<!DOCTYPE html>
<html>
<head>
  <title>WORACE'S WORKSHOP</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :head %>
</head>
<body>
<% if mobile_device? %>
  <%= render :partial => 'layouts/mobile_header' %>
<% else %>
  <%= render :partial => 'layouts/header' %>
<% end %>
<div class="container">
<%= yield %>
</div>
</body>
</html>
