<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "The Awesome Store", products_path, :class => "brand" %>
        
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Products", products_path %></li>
            <li><%= link_to "Browse Categories", categories_path %></li>
            <li><%= link_to "Browse Orders", orders_path %></li>
            <li><%= link_to "Your Cart", cart_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main">
    <div class="row">
      <div class="span10 offset1">
        <%= yield %>
      </div>
    </div>
  </div>

  <!-- Javascript Goodness -->
  <!-- ============================================== -->
  <!-- Placed at document end so pages load faster -->
  <script src="assets/js/bootstrap-collapse.js"></script>
  
  
</body>
</html>
